@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:wght@300;400;700&display=swap');

/* Global styles */
html {
  scroll-behavior: smooth;
}
/* Typography */
h1 { font-size: 3rem; font-weight: 700; }
h2 { font-size: 2.5rem; font-weight: 600; }
h3 { font-size: 2rem; font-weight: 600; }
h4 { font-size: 1.75rem; font-weight: 500; }
h5 { font-size: 1.5rem; font-weight: 500; }
h6 { font-size: 1.25rem; font-weight: 400; }

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #fff, #ccc);
  color: #000;
  overflow-x: hidden;
  word-spacing: .5rem;
  
  min-height: 100vh;
}
/* Navbar  */
.bar{
  background: linear-gradient(90deg,#000,#0f0f0f) !important;
  color: #f3f3f3;
  
}
/* Footer */
.footer{
  background: linear-gradient(90deg,#000,#0f0f0f) !important;
  color: #f3f3f3;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: max-content;
  margin-top: auto;

}
/* buttons on home page */
.cta-button {
  background-color: #04011a; /* A vibrant purple */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  margin: 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.cta-button:hover {
  background-color: #02000d; /* Lighter purple on hover */
  transform: translateY(-1px); /* Slight lift effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
}

/* secondary button  */
.cta-button.secondary {
  background-color: transparent;
  color: #6c5ce7;
  border: 2px solid #6c5ce7; /* Border matching the primary button's color */
  box-shadow: none; /* No shadow for the secondary button initially */
}

.cta-button.secondary:hover {
  background-color: #6c5ce7;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* portfolio page buttons fixed in App css*/

.jumbotron {
  background-color: #000 !important;
  margin: 0 auto;
}
.container{
  margin: 0 auto !important;
}

img.rounded-circle:hover {
  opacity: 0.95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pbi-dashboards{
  margin: 0 auto;
  padding: 1rem;
  
}
/* background image on the home page */
.hero-content{
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
  gap: 2rem;
  width: 100%;
  background: #000 url("./assets/img/hero/jt2.jpg") no-repeat center / cover;
  color:white;
}
.hero-details{
  flex: 1;
  padding: 20px;
}
.hero-image{
  display: none;
}

.imgcrop{
  object-fit: cover;
  object-position: center;

  transform: translateY(-25%, -25%);
}

.hero-contact-btn{
  padding: 0;
  margin: 0;
}
.hero-contact-btn div{
  padding: 0;
  margin: 0;
}

/* end of hero section */
.socials > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
}
.socials > ul > li > a{
  height: 50px;
}
/* lead and blockquote section */
.lead, .blockquote {
  line-height: 2em;
}
.blockquote{
  color: purple;
  letter-spacing: .3cm;
  position: absolute;
  top: 70%;
  padding-left: 15px;
  padding-right: 15px;
  width:auto;
  display:table
}
/* About page */
.about-section{
  color: #0f0f0f !important;
}

/* portfolio page */
.portfolio-home{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  color: white;
  padding: 0 auto;
  margin-bottom: 0;
  overflow-y: hidden;
}

.portfolio-card-da{
  background-image: url('./assets/img/bg/13.jpg');
  background-color: #5544ff30;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.portfolio-card-ds{
  background-image: linear-gradient(rgba(0, 0, 0, 0),
   rgba(0, 0, 0, 0)),
   url('./assets/img/bg/bg1.jpg');
  background-color: #5544ff30;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}
.portfolio-card-text-da, .portfolio-card-text-ds{
  margin-top: 2rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

/* Page titles */
.subtitle{
  color: #de9393 !important;
}

/* Media queries */

@media screen and (min-width: 576px) {
h1 { font-size: 2rem; }
p { font-size: 1rem; }

.bar{
  display: flex;
  margin:auto 0;
  padding: 0;
}
.cta-button button {
    padding: 8px 16px;
    font-size: 0.9rem;
    margin: 10px 0;
    margin-bottom: 20px;
}
.hero-content{
  flex-direction: row;
  background: unset;
  color:unset;
}
.hero-details, .hero-image{
  width: 100%;
}
.hero-image {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent); 
}

}
