body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    font-size: .7rem;
}

input.form-control, input.form-control:focus{
    background: #f0f0ff;
}

.error{
    position: absolute;
    color: red;
    font-size: .6rem;
}